* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
}

body,
.add-cart:hover {
  color: #000;
}

.article {
  border: 4px solid black;
  width: 825px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  gap: 0 40px;
}

.article__title {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  position: relative;
}

.article__title::before {
  content: "SALE";
  position: absolute;
  top: -17px;
  left: -37px;
  color: white;
  padding: 7px 15px;
  letter-spacing: 2px;
}

.article__title::before,
.shipping {
  font-size: 12px;
}

.article__title::before,
.sample__3 {
  background-color: red;
}

.article__title,
.shipping,
.product-title,
.add-cart {
  text-transform: uppercase;
}

.article__title,
.add-cart {
  padding: 15px 0;
  grid-column: 1 / -1;
}

.product__info {
  flex-direction: column;
  gap: 15px;
}

.product__info,
.price__row,
.color__palette {
  display: flex;
}

.product__info,
.product__details {
  margin-top: 20px;
}

.price__row {
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 24px;
}

.shipping {
  font-weight: bold;
  color: #777;
}

.more-info:link,
.more-info:visited {
  color: inherit;
}

.more-info:hover,
.more-info:active {
  color: red;
  text-decoration: none;
}

.color__palette {
  gap: 10px;
  margin-top: 10px;
}

.color__sample {
  width: 20px;
  height: 20px;
}

.sample__1 {
  background-color: black;
}

.sample__2 {
  background-color: blue;
}

.sample__4 {
  background-color: yellow;
}

.sample__5 {
  background-color: lime;
}

.sample__6 {
  background-color: brown;
}

.product-title {
  font-size: 16px;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.list-item {
  margin-bottom: 10px;
}

.list-item:last-child {
  margin-bottom: 0;
}

.add-cart {
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border: none;
  border-top: 4px solid black;
  cursor: pointer;
  width: 100%;
}

.add-cart:hover {
  background-color: #fff;
}
