* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #000;
  line-height: 1.4;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 100px auto;
}

.product__title {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  background-color: #f7f7f7;
  position: relative;
}

.product__title::before {
  content: "SALE";
  position: absolute;
  top: -17px;
  left: -37px;
  color: white;
  font-size: 12px;
  background-color: red;
  padding: 7px 15px;
  letter-spacing: 2px;
}

.product__img {
  float: left;
}

.product__info {
  float: left;
  width: 240px;
  margin: 20px 0 0 40px;
}

.price {
  font-size: 24px;
  float: left;
  margin-bottom: 20px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  color: #777;
  text-transform: uppercase;
  margin-top: 7px;
  float: right;
}

.product__para {
  clear: both;
  margin-bottom: 10px;
}

.more-info:link,
.more-info:visited {
  color: inherit;
}

.more-info:hover,
.more-info:active {
  color: red;
  text-decoration: none;
}

.color__palette {
  margin: 20px 0;
}

.color__sample {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sample__1 {
  background-color: black;
}

.sample__2 {
  background-color: blue;
}

.sample__3 {
  background-color: red;
}

.sample__4 {
  background-color: yellow;
}

.sample__5 {
  background-color: lime;
}

.sample__6 {
  background-color: brown;
}

.product__details {
  float: left;
  width: 240px;
  margin: 20px 0 0 40px;
}

.product-title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
}

.list-item {
  margin-bottom: 10px;
}

.add-cart {
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  border-top: 4px solid black;
  cursor: pointer;
  width: 100%;
  padding: 15px 0;
}

.add-cart:hover {
  color: #000;
  background-color: #fff;
}
